<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" failOnWarning="true" failOnRisky="true" extensionsDirectory=".phpunit">
  <!-- Définition des tests -->
  <testsuites>
    <testsuite name="Unit">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <!-- Configuration de la couverture de code -->
  <!-- Configuration des logs -->
  <logging>
    <junit outputFile="var/logs/junit.xml"/>
  </logging>
  <!-- Variables d'environnement -->
  <php>
    <env name="APP_ENV" value="test"/>
    <env name="DATABASE_URL" value="pgsql://54j48gyFJt7BFv-user:t7Fy5B84vJFg4j@127:0:0:1:5432/tsundoku_postgres_test"/>
    <env name="KERNEL_CLASS" value="App\Kernel"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>